@media screen and (max-width: 600px) {
  /*　画面サイズが480pxからはここを読み込む　*/
  /* common */
  .pc {
    display: none;
  }
  body {
    max-width: 100%;
    box-sizing: border-box;
  }
  h1 {
    font-size: 18px;
    color: #003333;
  }
  h2 {
    font-size: 16px;
    color: #003333;
  }
  h3 {
    font-size: 12px;
    line-height: 24px;
    color: #003333;
  }
  header {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #333333;
    padding-left: 20px;
    margin-bottom: 90px;
    width: 100%;
    & div {
      & img {
        height: 30x;
        width: 30px;
        margin-right: 20px;
      }
    }
  }
  .main-visual {
    position: relative;
    margin-bottom: 80px;
    & img {
      width: 100%;
      margin: 0 auto;
    }
    & h1 {
      color: #ffffff; /* 文字色 */
      font-size: 12px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 32px;
    }
  }
  .content1 {
    width: 85%;
    border: #333333 1px solid;
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px 20px;
  }
  .content2 {
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    & h2 {
      text-align: center;
    }
    & .service {
      margin-top: 35px;
      border: #333333 1px solid;
      border-radius: 30px;
      padding: 10px 10px;
      & .left {
        & p.number {
          font-size: 24px;
        }
      }
      .center {
        & .txt {
          margin-top: 20px;
        }
      }
      & h2 {
        text-align: left;
      }
    }
  }
  .content3 {
    width: 85%;
    margin: 0 auto;
    padding-top: 100px;
    & h2 {
      text-align: center;
    }
    & .effects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      & .effect {
        margin-top: 50px;
        & .title {
          padding: 20px;
          border: 1px solid #333333;
          background-color: #fff100;
          border-radius: 20px 20px 0 0;
        }
        & .txt {
          padding: 20px;
          border: 1px solid #333333;

          border-radius: 0 0 20px 20px;
        }
      }
    }
  }
  .content4 {
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    & h2 {
      text-align: center;
    }
    & .flow {
      margin-top: 35px;
      border: #333333 1px solid;
      border-radius: 30px;
      padding: 10px 15px;
      .left {
        img {
          width: 100px;
          margin: 0 auto;
          margin-bottom: 20px;
        }
      }
      .right {
        .link {
          background-color: #fff100;
          text-align: center;
          padding: 10px;
        }
      }
      & h2 {
        text-align: left;
      }
    }
    .movie {
      margin-top: 50px;
      padding-bottom: 30px;
      .youtube {
        margin: 0 auto;
        width: 100%;
        aspect-ratio: 16 / 9;
      }
      .youtube iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  .content5 {
    .div {
      width: 80%;

      background-color: #ffccca;
      text-align: center;
      margin: 0 auto;
      margin-top: 50px;
      a {
        display: block;
        width: 100%;
        color: #000000;
        text-align: center;
        background-color: #cccccc;
        border-radius: 5px;
        text-decoration: none;
        padding: 5px 0;
      }
    }
  }
  footer {
    padding-top: 50px;
    div {
      padding: 20px;
      text-align: center;
      background-color: #212836;
      color: #ffffff;
    }
  }
}

@media screen and (min-width: 600px) {
  .sp {
    display: none;
  }
  /* common */
  h1 {
    font-size: 36px;
    color: #003333;
  }
  h2 {
    font-size: 24px;
    color: #003333;
  }
  h3 {
    font-size: 16px;
    line-height: 35px;
    color: #003333;
  }

  header {
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #333333;
    padding-left: 20px;
    margin-bottom: 90px;
    & div {
      & img {
        height: 60px;
        width: 60px;
        margin-right: 20px;
      }
    }
  }

  .main-visual {
    position: relative;
    margin-bottom: 80px;
    & img {
      width: 80%;
      margin: 0 auto;
    }
    & h1 {
      color: #ffffff; /* 文字色 */
      font-size: 24px; /* 文字の大きさ */
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 36px;
      line-height: 48px;
    }
  }
  .content1 {
    width: 1018px;
    border: #333333 1px solid;
    border-radius: 30px;
    margin: 0 auto;
    padding: 70px 85px;
  }

  .content2 {
    width: 1018px;
    margin: 0 auto;
    padding-top: 50px;
    & h2 {
      text-align: center;
    }
    & .service {
      margin-top: 35px;
      border: #333333 1px solid;
      border-radius: 30px;
      padding: 70px 85px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      & .left {
        & p.number {
          font-size: 24px;
        }
      }
      .center {
        width: 50%;
        & .txt {
          margin-top: 20px;
        }
      }
      & h2 {
        text-align: left;
      }
    }
  }
  .content3 {
    width: 1018px;
    margin: 0 auto;
    padding-top: 100px;
    & h2 {
      text-align: center;
    }
    & .effects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      & .effect {
        width: 400px;
        margin-top: 50px;
        & .title {
          padding: 20px;
          border: 1px solid #333333;
          background-color: #fff100;
          border-radius: 20px 20px 0 0;
        }
        & .txt {
          padding: 20px;
          border: 1px solid #333333;

          border-radius: 0 0 20px 20px;
        }
      }
    }
  }
  .content4 {
    width: 1018px;
    margin: 0 auto;
    margin-top: 100px;
    & h2 {
      text-align: center;
    }
    & .flow {
      margin-top: 35px;
      border: #333333 1px solid;
      border-radius: 30px;
      padding: 70px 85px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .left {
        padding-left: 50px;
      }
      & .right {
        width: 50%;
        & .txt {
          margin-top: 20px;
          & .link {
            margin-top: 10px;

            background-color: #fff100;
            text-align: center;
            padding: 10px;
          }
        }
      }
      & h2 {
        text-align: left;
      }
    }
    .movie {
      margin-top: 50px;
      .youtube {
        margin: 0 auto;
        width: 80%;
        aspect-ratio: 16 / 9;
      }
      .youtube iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  .content5 {
    .div {
      width: 600px;

      background-color: #ffccca;
      text-align: center;
      margin: 0 auto;
      margin-top: 50px;
      a {
        display: block;
        width: 100%;
        color: #000000;
        text-align: center;
        background-color: #cccccc;
        border-radius: 5px;
        text-decoration: none;
        padding: 5px 0;
      }
    }
  }
  footer {
    padding-top: 50px;
    div {
      padding: 20px;
      text-align: center;
      background-color: #212836;
      color: #ffffff;
    }
  }
}
